#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$NFU2onjy$AUZygr7DGR9LgMXko1uvs/
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --disabled


# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=enp0s3
# Halt after installation
reboot
# System timezone
timezone Asia/Taipei
# Use network installation
url --url="ftp://192.168.100.254/pub"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append="rhgb quiet crashkernel=auto" --location=mbr --driveorder="sda" --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

%packages #设定所需要的软件包，按需要调整
@base
@core
@debugging
@desktop-debugging
@directory-client
@fonts
@gnome-desktop
@graphical-admin-tools
@graphics
@input-methods
@java-platform
@legacy-x
@network-file-system-client
@performance
@perl-runtime
@print-client
@remote-desktop-clients
@x11
abrt-gui
authconfig
certmonger
checkpolicy
chrony
gcc
genisoimage
kernel-devel
kexec-tools
krb5-workstation
libXmu
make
mtools
nscd
nss-pam-ldapd
oddjob
pam_krb5
pam_ldap
pax
perl-DBD-SQLite
python
python-dmidecode
selinux-policy-devel
sgpio
system-config-firewall-base
wodim
%end #%packages结尾